services:
  nexventory-react:
    build: .
    ports:
      - "6083:6083"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    command: ["npm", "run", "dev", "--", "--host"]
